.cart_items {
    list-style-type: none;
    padding-inline-start: 0px;
    max-height: 30rem;
    overflow: auto;
}

.cart_items li {
    font-weight: bold;
}

.total {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem
}

.empty {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: #E32934;
}