.spinner {
    height: 40px;
    width: 40px;
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-top: 3px solid rgb(175, 149, 0);
    border-radius: 50%;
    animation: loader 0.8s linear infinite;
    margin: 1rem auto;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}